{% raw %}
<article class="post">
  {% if page.ref %}
    {% assign current_lang = page.lang %}
    {% assign posts = site.posts | concat: site.ja_posts %}
    {% assign translations = "" | split: "," %}

    {% for post in posts %}
      {% if post.ref == page.ref %}
        {% unless post.lang == current_lang %}
          {% assign translations = translations | push: post %}
        {% endunless %}
      {% endif %}
    {% endfor %}

    {% if translations.size > 0 %}
      <div class="lang-switcher">
      {% for t in translations %}
        {% if t.lang == 'ja' %}
          <a href="{{ t.url | relative_url }}" lang="ja">日本語版で見る 🇯🇵</a>
        {% elsif t.lang == 'ko' %}
          <a href="{{ t.url | relative_url }}" lang="ko">한국어 버전 보기 🇰🇷</a>
        {% endif %}
      {% endfor %}
      </div>
      <hr>
    {% endif %}
  {% endif %}
  <div class="entry">
    {{ content }}
  </div>
  
  </article>
{% endraw %}